<%- include('header', { title: 'Advanced Programming Graph LOGIN PAGE' }) %>

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <div class="card-body cardbody-color p-lg-5">

          <h2 class="text-center text-dark">Login</h2>
          <div class="text-center text-dark">Welcome to Advanced Programming Graph</div>

            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="text-center"><button id="login" class="btn btn-color btn-lg px-5 mb-3 mt-3 w-100">Login With Microsoft</button></div>

          </form>
        </div>

      </div>
    </div>
  </div>

<%- include('footer') %>
  <script src="/js/client.js"></script> <!-- Ensure the path is correct -->

  </body>
  </html>